altgraph==0.17.2
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
cx-Freeze @ file:///C:/Users/%D0%95%D0%B2%D0%B0/Downloads/cx_Freeze-6.5.3-cp39-cp39-win_amd64.whl
cx-Logging==3.0
DAWG-Python==0.7.2
docopt==0.6.2
docxtpl==0.11.3
future==0.18.2
idna==3.3
importlib-metadata==4.8.2
Jinja2==2.11.3
Js2Py==0.71
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.21.3
packaging==21.0
pefile==2021.9.3
Pillow==8.1.1
pipwin==0.5.1
playsound==1.3.0
PyAudio @ file:///C:/Users/%D0%95%D0%B2%D0%B0/AppData/Local/Programs/Python/Python39/Scripts/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pygame==2.0.2
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pyinstaller-hooks-contrib==2021.3
pyjsparser==2.7.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.0.1
PyPrind==2.11.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.3
pySmartDL==1.3.4
python-docx==0.8.10
python-pptx==0.6.18
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
requests==2.26.0
six==1.15.0
soupsieve==2.2.1
tzdata==2021.4
tzlocal==4.0.1
urllib3==1.26.7
XlsxWriter==1.3.7
zipp==3.6.0
